{% assign conference_publications = site.data.data.conference_publications %}
{% if conference_publications %}
<section class="section conference_publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ conference_publications.title }}
  </h2>

  {% if conference_publications.intro %}
  <div class="intro">
    {{ conference_publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for conference_publication in conference_publications.papers %}
  <div class="item">
    <div class="conference_publication-title">{{ conference_publication.title }}</div>
    <div class="conference_publication-authors">{{ conference_publication.authors }}</div>
    <div class="conference_publication-conference">{{ conference_publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
