{% assign journal_publications = site.data.data.journal_publications %}
{% if journal_publications %}
<section class="section journal_publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ journal_publications.title }}
  </h2>

  {% if journal_publications.intro %}
  <div class="intro">
    {{ journal_publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for journal_publication in journal_publications.papers %}
  <div class="item">
    <div class="journal_publication-title">{{ journal_publication.title }}</div>
    <div class="journal_publication-authors">{{ journal_publication.authors }}</div>
    <div class="journal_publication-conference">{{ journal_publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
