{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-1.5x">
      <i class="fas fa-circle fa-stack-1x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  <h2 class="section-title">
    <span class="fa-stack fa-1.5x">
      <i class="fas fa-circle fa-stack-1x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>
  
  <h2 class="section-title2">
    <span class="fa-stack fa-1.5x">
      <i class="fas fa-circle fa-stack-1x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title2 }}
  </h2>
  
  
  <h2 class="section-title3">
    <span class="fa-stack fa-1.5x">
      <i class="fas fa-circle fa-stack-1x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title3 }}
  </h2>
  
  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
  
  {% if publications.intro2 %}
  <div class="intro2">
    {{ publications.intro2 | markdownify }}
  </div><!--//intro2-->
  {% endif %}
  
  {% if publications.intro3 %}
  <div class="intro3">
    {{ publications.intro3 | markdownify }}
  </div><!--//intro3-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

  {% for publication in publications.papers2 %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

  {% for publication in publications.papers3 %}
  <div class="item">
    <div class="publication-title3">{{ publication.title3 }}</div>
    <div class="publication-authors3">{{ publication.authors3 }}</div>
    <div class="publication-conference3">{{ publication.conference3 }}</div>
  </div><!--//item-->
  {% endfor %}
  
</section><!--//section-->
{% endif %}
