{% assign research_experiences = site.data.data.research_experiences %}
{% if research_experiences %}
<section class="section research_experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    <b>Research Experience</b>
  </h2>

  {% for research_experience in research_experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ research_experience.role }}</h3>
        <div class="time">{{ research_experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ research_experience.company }}</div>

    </div><!--//meta-->

    {% if research_experience.details %}
    <div class="details">
      {{ research_experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
